<FLexboxLayout>
    <Label text="Wybierz ćwiczenie"></Label>
    <ListPicker
            [items]="cwiczenia"
            selectedIndex="0"
            (selectedIndexChange)="selectedIndexChanged($event)">
    </ListPicker>
    <Label [text]="picked"></Label>
    <Label text="Liczba serii"></Label>
    <TextField keyboardType="number" [(ngModel)]="serie"></TextField>
    <Label text="Liczba powtórzeń"></Label>
    <TextField keyboardType="number" [(ngModel)]="powtorzenia"></TextField>
    <Label text="Ciężar (kg)" ></Label>
    <TextField keyboardType="number" [(ngModel)]="ciezar"></TextField>
    <Button
            (tap)="addRecord()"
            text="Dodaj"
            [nsRouterLink]="['']"
    ></Button>
</FLexboxLayout>
