<FLexboxLayout class="form--cwiczenie main">
    <ScrollView>
        <StackLayout>
            <FlexboxLayout class="form--control"> <Label text="Wybierz ćwiczenie"></Label>
                <ListPicker
                        [items]="cwiczenia"
                        selectedIndex="0"
                        (selectedIndexChange)="selectedIndexChanged($event)">
                </ListPicker>
            </FlexboxLayout>
            <FlexboxLayout class="form--control"> <Label text="Liczba serii"></Label>
                <TextField keyboardType="number" [(ngModel)]="serie"></TextField>
            </FlexboxLayout>
            <FlexboxLayout class="form--control"> <Label text="Liczba powtórzeń"></Label>
                <TextField keyboardType="number" [(ngModel)]="powtorzenia"></TextField>
            </FlexboxLayout>
            <FlexboxLayout class="form--control"> <Label text="Ciężar (kg)"></Label>
                <TextField keyboardType="number" [(ngModel)]="ciezar"></TextField>
            </FlexboxLayout>
            <Button
                    (tap)="addRecord()"
                    text="Dodaj"
                    [nsRouterLink]="['']"
            ></Button>
        </StackLayout>
    </ScrollView>
</FLexboxLayout>
