Label {
  text-align: center;
  font-size: 19;
  text-transform: uppercase;
}
TextField {
  margin-top: 20;
  border-bottom-width: 1;
  text-align: center;
  margin-left: 30;
  margin-right: 30;
  color: #D84039;
  text-decoration: none;
  border-color: #D84039;
}
Button {
  margin-top: 50;
}
