<ScrollView>
    <StackLayout>
        <FlexboxLayout class="form--control">
            <Label text="Imię"></Label>
            <TextField [(ngModel)]="profile.name"></TextField>
        </FlexboxLayout>
        <FlexboxLayout class="form--control"><Label text="Nazwisko"></Label>
            <TextField [(ngModel)]="profile.surname"></TextField>
        </FlexboxLayout>
        <FlexboxLayout class="form--control"><Label text="Waga (kg)"></Label>
            <TextField [(ngModel)]="profile.weight"></TextField>
        </FlexboxLayout>
        <FlexboxLayout class="form--control"><Label text="Wzrost (cm)"></Label>
            <TextField [(ngModel)]="profile.height"></TextField>
        </FlexboxLayout>

        <FlexboxLayout class="form--gender"><Label class="label--gender" text="Mężczyzna"></Label>
            <Switch #male [checked]="!female.checked" (checkedChange)="onCheckedChange($event)" class="male"></Switch>
        </FlexboxLayout>

        <FlexboxLayout class="form--gender"><Label class="label--gender" text="Kobieta"></Label>
            <Switch #female [checked]="!male.checked" (checkedChange)="onCheckedChange($event)" class="female"></Switch>
        </FlexboxLayout>

        <Button text="OK" (tap)="onSubmit()"></Button>
    </StackLayout>
</ScrollView>
