.page-content {
  flex-direction: column;
}
.add--trening {
  font-size: 20;
  font-weight: 700;
  color: scale-color(#D84039, $lightness: 30%);
}
.label--wyb {
  font-size: 23;
  text-align: center;
  padding: 10;
  text-transform: uppercase;
}
