<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <FlexboxLayout class="user--data">
            <FlexboxLayout class="profile--control">
                <Label class="profile--lab" text="Imię"></Label>
                <Label [text]="profile.name"></Label>
            </FlexboxLayout>
            <FlexboxLayout class="profile--control">
                <Label class="profile--lab" text="Nazwisko"></Label>
                <Label [text]="profile.surname"></Label>
            </FlexboxLayout>
            <FlexboxLayout class="profile--control">
                <Label class="profile--lab" text="BMI"></Label>
                <Label [text]="profile.bmi"></Label>
            </FlexboxLayout>
            <FlexboxLayout class="profile--control">
                <Label class="profile--lab" text="Waga"></Label>
                <Label [text]="profile.weight+' kg'"></Label>
            </FlexboxLayout>
            <FlexboxLayout class="profile--control">
                <Label class="profile--lab" text="Wzrost"></Label>
                <Label [text]="profile.height+' cm'"></Label>
            </FlexboxLayout>
            <FlexboxLayout class="profile--control">
                <Label class="profile--lab" text="Płeć"></Label>
                <Label [text]="profile.gender"></Label>
            </FlexboxLayout>
        </FlexboxLayout>
        <ScrollView row="1">
            <StackLayout class="sidedrawer-content">
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home')">
                    <Label col="0" text="&#xf015;" class="fa"></Label>
                    <Label col="1" text="Home" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/search')" (tap)="onNavItemTap('/search')">
                    <Label col="0" text="&#xf002;" class="fa"></Label>
                    <Label col="1" text="Search" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/featured')" (tap)="onNavItemTap('/featured')">
                    <Label col="0" text="&#xf005;" class="fa"></Label>
                    <Label col="1" text="Trainings" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/settings')" (tap)="onNavItemTap('/settings')">
                    <Label col="0" text="&#xf013;" class="fa"></Label>
                    <Label col="1" text="Settings" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
