.trening {
  padding: 15;
  border-width: 1;
  border-color: seagreen;
  margin-bottom: 20;
}
.date {
  color: seagreen;
  font-size: 19;
  font-weight: 700;
}
.cwiczenie {
  padding: 20;
  border-width: 1;
  margin-top: -1;
  border-color: #D84039;
}
