// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
    font-family: "FontAwesome";
}
.main {
    background-color: rgb(26, 0, 13);
    color: #D84039;
}
.user--data {
    flex-direction: column;
}
$active: scale-color(#1a000d, $lightness: 10%);
.action-bar {
    background-color: rgb(26, 0, 13);
    * {
        color: #D84039;
    }
    border-bottom-width: 2;
    border-top-width: 2;
    border-color: #D84039;
}
.section {
    width: 100%;
    justify-content: space-between;
    font-size: 16;
}
.date {
    border-bottom-width: 1;
    border-bottom-color: #D84039;
    font-size: 19;
    color: scale-color(#D84039, $lightness: 50%);

}
.record-list-item {
    margin: 10 10 0 10;
    padding: 15;
    background-color: transparent;
    border-width: 1;
    border-color: #D84039;
}
.label--day {
    text-transform: capitalize;
    font-weight: 700;
}
.prog--wrapper {
    margin-top: 15;
    flex-direction: column;
}
.plus {
    color: green;
    width: 100%;
}
.minus {
    color: red;
    width: 100%;
}
.date-picker {
    background-color: #D84039;
}
.form--cwiczenie {
    flex-direction: column;
    width: 100%;
    font-size: 19;
    font-weight: 700;
    color: #D84039;
    text-align: center;
    Label {
        text-transform: uppercase;
    }
    .form--control {
        flex-direction: column;
        border-width: 1;
        border-color: #D84039;
        padding: 10;
        margin-top: 20;
        TextField {
            font-size: 15;
            color: white;
            border-bottom-width: 1;
            border-color: #D84039;
        }
    }
    Button {
        font-size: 16;
    }
}
Button {
    margin-top: 30;
    margin-bottom: 30;
    padding: 5;
    background-color: transparent;
    border-width: 1;
    border-color: #D84039;
    width: 50%;
    align-self: center;
    color: #D84039;
    font-weight: 400;
}
//Action bar
ActionBar .action-bar-title {
    horizontal-align: center;
}

 // Drawer navigation custom styles
.user--data {
    border-bottom-width: 1;
    border-color: #D84039;
    padding: 15 40 15 40;
}
.profile--control {
    justify-content: space-between;
    Label {
        color: scale-color(#D84039, $lightness: 30%);
    }
    .profile--lab {
        font-weight: 700;
        text-transform: uppercase;
        color: #D84039;
    }
}

.sidedrawer {
    background-color: rgb(26, 0, 13);
    border-width: 1;
    border-color: #D84039;
    color: #D84039;

    .sidedrawer-content {
        $sidedrawer-list-item-offset-left: 15;
        $sidedrawer-list-icon-offset: 10;
        $sidedrawer-list-icon-size: 20;

        .sidedrawer-list-item {
            padding-left: $sidedrawer-list-item-offset-left;
            Label {
                vertical-align: center;
                color: #D84039;
            }
            .fa {
                width: $sidedrawer-list-icon-size;
                margin-right: $sidedrawer-list-icon-offset;
            }
            &.selected {
                background-color: scale-color(rgb(26, 0, 13), $lightness: 5%);
                Label {
                    color: scale-color(#D84039, $lightness: 50%);
                }
            }
        }
    }
}
