.main {
  color: #D84039;
  font-size: 19;
  font-weight: 700;

  .search {
    margin-top: 10;
    margin-bottom: 10;
    text-align: center;
    text-transform: uppercase;
  }

  Button {
    margin-top: 30;
    margin-bottom: 30;
    padding: 5;
    background-color: transparent;
    border-width: 1;
    border-color: #D84039;
    width: 50%;
    color: #D84039;
    align-self: center;
  }
}
.content--scroll {

}
